.DS_Store                                                                                                                                                                                                         
*.swp                                                                                                                                                                                                             
*.swo                                                                                                                                                                                                             
*~                                                                                                                                                                                                                
.vscode/                                                                                                                                                                                                          
.idea/
i18next.min.js
sitemap.xml
